## Wine quality Dataset

*About the dataset*

These data are the results of a chemical analysis of wines grown in the same region in Italy but derived from three different cultivars. The analysis determined the quantities of 12 constituents found in each of the two types of wines. 


Input variables (based on physicochemical tests):
1. fixed acidity
2. volatile acidity
3. citric acid
4. residual sugar
5. chlorides
6. free sulfur dioxide
7. total sulfur dioxide
8. density
9. pH
10. sulphates
11. alcohol

Output variable (based on sensory data):
12. quality (score between 0 and 10)
13. Class --> 0 : "red" ||  1 : "white"

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

**Data Preprocessing**

**The red wine dataset**

the values are separated by " ; "

In [6]:
df_red = pd.read_csv("winequality-red.csv", sep = ";")
df_red.head()

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.4              0.70         0.00  ...       0.56      9.4        5
1            7.8              0.88         0.00  ...       0.68      9.8        5
2            7.8              0.76         0.04  ...       0.65      9.8        5
3           11.2              0.28         0.56  ...       0.58      9.8        6
4            7.4              0.70         0.00  ...       0.56      9.4        5

[5 rows x 12 columns]

The dimension of the red wine dataset

In [7]:
print("Shape of red wine dataset: {}".format(df_red.shape))

Shape of red wine dataset: (1599, 12)

Looking in to the dataset if there missing values

In [8]:
df_red.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

Great!, No missing values, so we can continue

in the head of the dataframe, we can see float values in all the rows, so check it out if the values are correct

In [9]:
df_red.dtypes

fixed acidity           float64
volatile acidity        float64
citric acid             float64
residual sugar          float64
chlorides               float64
free sulfur dioxide     float64
total sulfur dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
quality                   int64
dtype: object

this dataset if for the red wine but it does not have a column class, we'll create it with value: **class - 0 : "Red wine"**

In [10]:
df_red["class"] = 0
df_red.head()

   fixed acidity  volatile acidity  citric acid  ...  alcohol  quality  class
0            7.4              0.70         0.00  ...      9.4        5      0
1            7.8              0.88         0.00  ...      9.8        5      0
2            7.8              0.76         0.04  ...      9.8        5      0
3           11.2              0.28         0.56  ...      9.8        6      0
4            7.4              0.70         0.00  ...      9.4        5      0

[5 rows x 13 columns]

**The white wine dataset**

the values are separated by " ; "

In [12]:
df_white = pd.read_csv("winequality-white.csv", sep = ";")
df_white.head()

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.0              0.27         0.36  ...       0.45      8.8        6
1            6.3              0.30         0.34  ...       0.49      9.5        6
2            8.1              0.28         0.40  ...       0.44     10.1        6
3            7.2              0.23         0.32  ...       0.40      9.9        6
4            7.2              0.23         0.32  ...       0.40      9.9        6

[5 rows x 12 columns]

The dimension of the white wine dataset

In [13]:
print("Shape of white wine dataset: {}".format(df_white.shape))

Shape of white wine dataset: (4898, 12)

Looking in to the dataset if there missing values

In [14]:
df_white.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

Great!, No missing values, so we can continue

in the head of the dataframe, we can see float values in all the rows, so check it out if the values are correct

In [15]:
df_white.dtypes

fixed acidity           float64
volatile acidity        float64
citric acid             float64
residual sugar          float64
chlorides               float64
free sulfur dioxide     float64
total sulfur dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
quality                   int64
dtype: object

this dataset if for the red wine but it does not have a column class, we'll create it with value: **class - 0 : "White wine"**

In [16]:
df_white["class"] = 1
df_white.head()

   fixed acidity  volatile acidity  citric acid  ...  alcohol  quality  class
0            7.0              0.27         0.36  ...      8.8        6      1
1            6.3              0.30         0.34  ...      9.5        6      1
2            8.1              0.28         0.40  ...     10.1        6      1
3            7.2              0.23         0.32  ...      9.9        6      1
4            7.2              0.23         0.32  ...      9.9        6      1

[5 rows x 13 columns]

Concat the red wine and white wine dataset

In [17]:
frames = [df_red, df_white]
df = pd.concat(frames)
df.head()

   fixed acidity  volatile acidity  citric acid  ...  alcohol  quality  class
0            7.4              0.70         0.00  ...      9.4        5      0
1            7.8              0.88         0.00  ...      9.8        5      0
2            7.8              0.76         0.04  ...      9.8        5      0
3           11.2              0.28         0.56  ...      9.8        6      0
4            7.4              0.70         0.00  ...      9.4        5      0

[5 rows x 13 columns]

In [18]:
print("Shape concat red and wine dataset: {}".format(df.shape))

Shape concat red and wine dataset: (6497, 13)

save the dataset

In [19]:
df.to_csv("winequality-red-white.csv")